body{
	background-image: linear-gradient(black, #2c0f4b);
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html {
    height: 100%;
}

p{
	font-family: "Montserrat", sans-serif;
	color: white;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 20px;
}

img{
	margin-bottom: 0px;
}

h1{
	font-family: "Montserrat", sans-serif;
	color: white;
	font-size: 40px;
	margin-top: 0px;
	margin-bottom: 0px;
}